body{
  display: flex;
  align-items: center;
  justify-content: center;
}


.box {
  border: 2px solid black;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 124, 124);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}